<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css">
    <style>
        @font-face {
            font-family: "code";
            src: local("/static/CaskaydiaCoveNerdFont-Regular.ttf");
        }
        pre {
            font-family: 'code', monospace;
        }
        code {
            font-family: 'code', monospace;
        }
    </style>    <head>
        <div class="align-self-end" style="text-align: left;"><pre>{{ title }}</pre></div>
        <hr>
    </head>
    {{ highlight | safe }}

</html>
